<p-toast></p-toast>

<div class="card">
  <div class="grid p-fluid">
    <div class="field col-12 md:col-3">
      <label for="integeronly">Enter ids</label>
      <input type="text" pInputText id="ids" [(ngModel)]="searchIds" placeholder="1,2,3.." />
    </div>
    <div class="field col-12 md:col-3">
      <label for="withoutgrouping">Enter near</label>
      <input type="text" pInputText id="near" [(ngModel)]="searchNear" placeholder="33.64,-117.93" />
    </div>
    <div class="field col-12 md:col-3">
      <label for="minmaxfraction">Enter sort</label>
      <input type="text" pInputText id="sort" [(ngModel)]="searchSort" placeholder="price" />
    </div>
    <div class="field col-12 md:col-3">
      <label for="minmax">Minimum price</label>
      <p-inputNumber inputId="integeronly" [useGrouping]="false" [(ngModel)]="minPrice" placeholder="9000">
      </p-inputNumber>
    </div>
    <div class="field col-12 md:col-3">
      <label for="minmax">Maximum price</label>
      <p-inputNumber inputId="integeronly" [useGrouping]="false" [(ngModel)]="maxPrice" placeholder="75000">
      </p-inputNumber>
    </div>
    <div class="field col-12 md:col-3">
      <label for="minmax">Enter limit</label>
      <p-inputNumber inputId="integeronly" [useGrouping]="false" [(ngModel)]="searchLimit" placeholder="3">
      </p-inputNumber>
    </div>
    <div class="field col-12 md:col-3">
      <label for="minmax">Enter offset</label>
      <p-inputNumber inputId="integeronly" [useGrouping]="false" [(ngModel)]="searchOffset" placeholder="6">
      </p-inputNumber>
    </div>
  </div>
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Search" icon="pi pi-search" class="p-button-primary mr-2"
        (click)="search()"></button>
      <button pButton pRipple label="Clear" icon="pi pi-times" class="p-button-primary mr-2" (click)="clear()"></button>
    </ng-template>
    <ng-template pTemplate="right">
      <button pButton pRipple label="Add new" icon="pi pi-plus" class="p-button-success mr-2"
        (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>

  <p-table responsiveLayout="scroll" [autoLayout]="true" #dt [value]="rentalsList" [rows]="10" [paginator]="true"
    [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [columns]="selectedColumns">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Rentals</h5>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Image</th>
        <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
          {{ col.header }}<p-sortIcon field="{{ col.field }}"></p-sortIcon>
        </th>
        <th style="width: 10rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rental let-columns="columns" let-i="rowIndex">
      <tr>
        <td>
          <img [src]="rental.primary_image_url" width="100" class="shadow-4" />
        </td>
        <td *ngFor="let col of columns">
          <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
          <ng-template #nested_object_content>
            {{rental[col.field][col.subfield]}}
          </ng-template>
          <ng-template #normal_content>
            {{rental[col.field]}}
          </ng-template>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
            (click)="editRental(rental)" style="margin-right: 10px"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteRental(rental)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Total rentals {{rentalsList ? rentalsList.length : 0 }} rentalsList.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [contentStyle]="{'overflow-y': 'auto', 'overflow-x': 'hidden', 
'max-height': '80vh','min-height':'250px'}" [(visible)]="rentalDialog" [style]="{width: '450px'}"
  header="Rental Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div [formGroup]="inputForm">
      <div class="p-field">
        <label for="name">User ID</label>
        <input type="text" pInputText id="user_id" formControlName="user_id" required />
      </div>
      <div class="p-field">
        <label for="user_id">Name</label>
        <input type="text" pInputText id="name" required formControlName="name" />
      </div>
      <div class="p-field">
        <label for="description">Description</label>
        <textarea id="description" pInputTextarea required rows="2" cols="20" formControlName="description"></textarea>
      </div>
      <p-fieldset legend="Vehicle">
        <div class="p-field">
          <label for="type">Type</label>
          <input type="text" pInputText id="type" required formControlName="type" />
        </div>

        <div class="p-field">
          <label for="make">Make</label>
          <input type="text" pInputText id="make" required formControlName="make" />
        </div>

        <div class="p-field">
          <label for="model">Model</label>
          <input type="text" pInputText id="model" required formControlName="model" />
        </div>

        <div class="p-field">
          <label for="year">Year</label>
          <input type="text" pInputText id="year" required formControlName="year" />
        </div>

        <div class="p-field">
          <label for="length">Length</label>
          <input type="text" pInputText id="length" required formControlName="length" />
        </div>

        <div class="p-field">
          <label for="sleeps">Sleeps</label>
          <input type="text" pInputText id="sleeps" required formControlName="sleeps" />
        </div>

        <div class="p-field">
          <label for="price">Price per day</label>
          <input type="text" pInputText id="price" formControlName="price" required />
        </div>
      </p-fieldset>
      <p-fieldset legend="Location">
        <div class="p-field">
          <label for="city">City</label>
          <input type="text" pInputText id="city" formControlName="city" required />
        </div>

        <div class="p-field">
          <label for="state">State</label>
          <input type="text" pInputText id="state" formControlName="state" required />
        </div>

        <div class="p-field">
          <label for="zip">Zip</label>
          <input type="text" pInputText id="zip" formControlName="zip" required />
        </div>

        <div class="p-field">
          <label for="country">Country</label>
          <input type="text" pInputText id="country" formControlName="country" required />
        </div>

        <div class="p-field">
          <label for="lat">Latitude</label>
          <input type="text" pInputText id="lat" formControlName="lat" required />
        </div>

        <div class="p-field">
          <label for="lng">Longitude</label>
          <input type="text" pInputText id="lng" formControlName="lng" required />
        </div>
      </p-fieldset>

      <div class="p-field">
        <label for="primary_image_url">Image URL</label>
        <input type="text" pInputText id="primary_image_url" formControlName="image" required />
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveRental(rental)"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>